<div class="container">
    <form method="post">
        <div class="mb-3">
          <label for="conducteur" class="form-label">marque</label>
          <input type="text" placeholder="marque" class="form-control" id="conducteur" name="marque">
        </div>
        <div class="mb-3">
          <label for="conducteur" class="form-label">modele</label>
          <input type="text" placeholder="modele" class="form-control" id="conducteur" name="modele">
        </div>
        <div class="mb-3">
          <label for="conducteur" class="form-label">couleur</label>
          <input type="text" placeholder="couleur" class="form-control" id="conducteur" name="couleur">
        </div>
        <div class="mb-3">
          <label for="conducteur" class="form-label">immatriculation</label>
          <input type="text" placeholder="immatriculation" class="form-control" id="conducteur" name="immatriculation">
        </div>
        <button type="submit" class="btn btn-light">Ajouter ce vehicule</button>
      </form>
</div>